{% load static from staticfiles %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Diego Forero</title>
    <link rel="stylesheet" href="{% static 'dist/css/styles.css' %}">
</head>
<body>
    <header class="Header">
        <div class="Hero">
            <div class="Hero-wrapper">
                <div class="Hero-filter"></div>
                <video autoplay loop class="Hero-video full-width" poster="https://s3-us-west-2.amazonaws.com/coverr/poster/Hello-World.jpg">
                    <source src="https://s3-us-west-2.amazonaws.com/coverr/mp4/Hello-World.mp4" type="video/mp4">
                    "Su navegador no soporta la etiqueta video. Por favor actualice su navegador web."
                    <source src="https://s3-us-west-2.amazonaws.com/coverr/mp4/Hello-World.mp4" type="video/webm">
                    "Su navegador no soporta la etiqueta video. Por favor actualice su navegador web."
                </video>
            </div>
            <div class="Profile">
                <div class="Profile-avatar">
                    <img src="{% static 'dist/img/diego.jpg' %}" alt="">
                </div>
                <h1 class="Profile-name">Diego Forero</h1>
                <p class="Profile-title">Desarrollador Web</p>
                <h2 class="Profile-mantra">"Me gusta aprender algo nuevo todos los días"</h2>
            </div>
            <div class="ViewMore"><i class="fa fa-2x fa-chevron-down"></i></div>
        </div>
        <div class="Social">
            <ul class="Social-list">
                <li class="Social-item">
                    <a class="Social-link" href="https://github.com/gollum23" target="_blank"><i class="fa fa-github"></i></a>
                </li>
                <li class="Social-item">
                    <a class="Social-link" href="https://bitbucket.org/Gollum23/" target="_blank"><i class="fa fa-bitbucket"></i></a>
                </li>
                <li class="Social-item">
                    <a class="Social-link" href="https://twitter.com/Gollum23" target="_blank"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="Social-item">
                    <a class="Social-link" href="https://plus.google.com/103586800621789174596" target="_blank"><i class="fa fa-google-plus"></i></a>
                </li>
            </ul>
        </div>
    </header>
    <section class="Education Section">
        <h2 class="Section-title">Formación</h2>
        <h3 class="Section-subtitle">Formal</h3>
            <p class="Education-item--formal">Tecnología en Sistemas - 5 Semestre - UNAD (Actualmente)</p>
        <h3 class="Section-subtitle">Online</h3>
            <a href="https://platzi.com/backend/" target="_blank" class="Education-item">
                <img class="Education-item--badge" src="{% static 'dist/img/golden_backend2x.png' %}" alt="">
                <p class="Education-item--name">Carrera Backend Profesional - Platzi (2015)</p></a>
            <a href="https://platzi.com/frontend/" target="_blank" class="Education-item">
                <img class="Education-item--badge" src="{% static 'dist/img/golden_frontend2x.png' %}" alt="">
                <p class="Education-item--name">Carrera Frontend Profesional - Platzi (2015)</p>
            </a>
            <a href="https://platzi.com/devops/" target="_blank" class="Education-item">
                <img class="Education-item--badge" src="{% static 'dist/img/golden_servidores2x.png' %}" alt="">
                <p class="Education-item--name">Carrera Administración de servidores y DevOps - Platzi (2015)</p>
            </a>
            <a href="https://platzi.com/base-de-datos/" target="_blank" class="Education-item">
                <img class="Education-item--badge" src="{% static 'dist/img/golden_datos2x.png' %}" alt="">
                <p class="Education-item--name">Carrera de Bases de Datos - Platzi (2015)</p>
            </a>
    </section>
{#    <section class="Skills Section"></section>#}
    <section class="Portfolio Section">
        <h2 class="Section-title">Portafolio</h2>
        <section class="Portfolio-list">
            {% for p in portfolio %}
                <article class="PortfolioItem">
                    <img class="PortfolioItem-img" src="{{ MEDIA_URL }}{{ p.img }}" alt="{{ p.name }}">
                    <div class="PortfolioItem-info">
                        <h3 class="PortfolioItem-title">{{ p.name }}</h3>
                        <p class="PortfolioItem-text"><span>Año:</span> {{ p.year }} {% if p.status == 'n' %}- no terminado{% elif p.status == 'd' %}- en desarrollo{% endif %}</p>
                        <p class="PortfolioItem-text"><span>Stack:</span> {{ p.stack }}</p>
                        <p class="PortfolioItem-text"><span>Responsive:</span> {{ p.responsive|yesno:"Si,No" }}</p>
                        {% if p.url %}
                            <p class="PortfolioItem-text"><span>Url: </span><a href="{{ p.url }}" target="_blank">{{ p.url }}</a></p>
                        {% endif %}
                        {% if p.repository %}
                            <p class="PortfolioItem-text"><span>Repositorio:</span> <a href="{{ p.repository }}" target="_blank">{{ p.repository }}</a></p>
                        {% endif %}

                    </div>
                </article>
            {% endfor %}
        </section>
    </section>
    <footer class="Footer">
            <div class="Footer-top">
                <div><i class="fa fa-envelope"></i> gollum23@gmail.com</div>
                <div><i class="fa fa-twitter"></i> @gollum23</div>
            </div>
            <div class="Footer-bottom">
                Diego Forero - 2016
            </div>
    </footer>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KH5KMJ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KH5KMJ');</script>
    <!-- End Google Tag Manager -->
    <script src="{% static 'dist/js/libs/jquery-2.2.0.min.js' %}"></script>
    <script src="{% static 'dist/js/main-compiled.js' %}"></script>
</body>
</html>